:root {
	/* color */
	--main-color: #00568b;
	--error-color: #f17a7a;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Raleway", sans-serif;
}
.main {
	padding-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1100px;
	margin: auto;
	flex-direction: column;
}
.render {
	position: relative;
	width: 100%;
}
.dinamico {
	top: 0;
	left: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	opacity: 0;
}
.quest {
	width: 58%;
	background: url("../assets/Test-LiliUmana-Fondo-de-preguntas.jpg") no-repeat
		center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px;
	box-shadow: 0 4px 10px gray;
	position: relative;
}
.numberCel {
	background-color: #ffffffba;
	position: absolute;
	bottom: 50px;
	left: 20px;
	padding: 10px 20px;
	border-radius: 50px;
	display: none;
}
.sub {
	align-self: flex-start;
}

/* Esta es la sección donde se cargan todos los datos */

.container {
	margin: 30px 0;
}
.question {
	color: var(--main-color);
	font-size: 25px;
	font-weight: 200;
	margin-bottom: 15px;
}
.buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 15px;
	position: relative;
}

.options {
	width: 48%;
	margin: 15px 0;
	padding: 15px 10px;
	border-radius: 50px;
	border: 1px solid var(--main-color);
	background-color: white;
	cursor: pointer;
	font-size: 14px;
	color: var(--main-color);
	position: relative;
	overflow: hidden;
}
.options::before {
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 100%;
	width: 0;
	transform: translateX(-50%);
	background-color: rgba(0, 83, 147, 0.126);
	content: "";
	transition: all 0.1s ease-in-out;
}
.options:hover {
	transition: all 0.3s ease-in-out;
}
.options:hover::before {
	width: 100%;
	transition: all 0.3s ease-in-out;
}
.options:active {
	transition: all 0.1s ease-in-out;
	background-color: rgba(0, 83, 147, 0.05);
}
.answer {
	line-height: 1.3;
	letter-spacing: 0.2px;
	opacity: 0;
	font-size: 14px;
}
.right__text {
	color: var(--main-color);
}
.next {
	font-size: 20px;
	color: var(--main-color);
	display: flex;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: transparent;
	align-self: flex-end;
	position: relative;
	padding-bottom: 5px;
}
.next::before {
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 1px;
	width: 0;
	transform: translateX(-50%);
	background-color: var(--main-color);
	content: "";
	transition: all 0.3s ease-in-out;
}

.next:hover::before {
	width: 100%;
	transition: all 0.3s ease-in-out;
}
.arrow {
	width: 20px;
	margin-left: 10px;
}

/* Esta es la sección donde se cargan las imágenes */

.image {
	width: 42%;
	position: relative;
}
.pic {
	width: 100%;
	border: 1px solid var(--main-color);
	border-radius: 4px;
	box-shadow: 5px 8px 8px gray;
}
.number {
	background-color: #ffffffba;
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 10px 20px;
	border-radius: 50px;
}
.error {
	background-color: var(--error-color);
	color: white;
	border: none;
}
.error:hover {
	background-color: var(--error-color);
	color: white;
	border: none;
}
.correct {
	background-color: var(--main-color);
	color: white;
}
.correct:hover {
	background-color: var(--main-color);
	color: white;
}
.hide {
	display: none;
}
.show {
	opacity: 1;
	transition: all 0.3s ease-in-out;
}
.hideQuestion {
	opacity: 0;
	transform: translateX(5%);
	transition: all 0.2s ease-in-out;
}

/* Clases intro */
.subIntro {
	color: var(--main-color);
	margin-bottom: 60px;
}
.introQuest {
	padding: 50px 200px 50px 40px;
	align-items: flex-start;
}
.logo {
	width: 300px;
	padding-left: 60px;
	margin-bottom: 40px;
}
.introPregunta {
	color: var(--main-color);
	font-size: 24px;
	font-weight: 300;
	padding-left: 60px;
	margin-bottom: 40px;
}
.introTexto {
	margin-bottom: 40px;
	font-size: 14px;
	color: var(--main-color);
	padding-left: 60px;
}
.peso {
	font-weight: 600;
}
.btnIntro {
	width: 48%;
	margin: 15px 0;
	padding: 15px 10px;
	border-radius: 50px;
	border: 1px solid var(--main-color);
	background-color: var(--main-color);
	cursor: pointer;
	font-size: 14px;
	color: white;
	position: relative;
	overflow: hidden;
	margin-left: 60px;
}
.btnIntro::before {
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 100%;
	width: 0;
	transform: translateX(-50%);
	background-color: rgba(137, 137, 137, 0.126);
	content: "";
	transition: all 0.1s ease-in-out;
}

.btnIntro:hover::before {
	width: 100%;
	transition: all 0.3s ease-in-out;
}

.btnIntro:active {
	background-color: #106aa2;
}
.intro {
	top: 0;
	left: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

/* Clases resultado */
.despedida {
	font-size: 48px;
	margin: 50px 0;
	font-family: "Pacifico", cursive;
	color: var(--main-color);
}
.resultadoTexto {
	padding: 0;
	font-size: 16px;
	text-align: center;
}
.hideResultado {
	opacity: 0;
}
.resultado {
	background-color: var(--main-color);
	padding: 60px;
	/* position: absolute; */
	width: 100%;
}
.bg {
	background: url(../assets/Test-LiliUmana-Fondo-de-resultado.jpg) center
		no-repeat;
	background-size: cover;
	border-radius: 20px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.btnResultado {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.link1,
.link2,
.link3 {
	text-decoration: none;
	position: relative;
}
.link1,
.link2 {
	padding: 6px;
	border-radius: 4px;
	margin: 0 10px 20px;
	transition: all 0.1s ease-in-out;
}
.link1,
.link2 {
	color: var(--main-color);
}
.link1:hover,
.link2:hover {
	box-shadow: 0 3px 8px rgb(176, 176, 176);
	transition: all 0.1s ease-in-out;
}
.link1 {
	background-color: white;
	border: 1px solid var(--main-color);
}
.link2 {
	color: white;
	background-color: var(--main-color);
}

.link3 {
	color: var(--main-color);
	padding-bottom: 5px;
	border: none;
	background-color: transparent;
	font-size: 16px;
	cursor: pointer;
}
.link3:visited {
	color: var(--main-color);
}
.link3:active {
	color: var(--main-color);
}

.link1::before,
.link2::before,
.link3::before {
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 2px;
	width: 0;
	transform: translateX(-50%);
	background-color: var(--main-color);
	content: "";
	transition: all 0.1s ease-in-out;
}
.link1::before,
.link2::before {
	height: 100%;
	background-color: rgba(137, 137, 137, 0.126);
}

.link1:hover::before,
.link2:hover::before {
	width: 100%;
	transition: all 0.3s ease-in-out;
}
.link3:hover::before {
	width: 120%;
	transition: all 0.3s ease-in-out;
}
.showResultado {
	opacity: 1;
	transition: all 1s ease-in-out;
}
.logoResultado {
	padding: 0;
}
.progress {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	flex-direction: column;
}
.textProgress {
	font-size: 20px;
	margin-bottom: 20px;
	color: var(--main-color);
}
.numero {
	margin-left: 20px;
	color: white;
	background-color: var(--main-color);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: relative;
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.barraResultado {
	width: 80%;
}
.progressBar {
	width: 80%;
	height: 25px;
	border: 1px solid var(--main-color);
	border-radius: 20px;
}
.progressValue {
	border-radius: 20px;
	width: 0;
	height: 99%;
	background-color: var(--main-color);
}

/* Media Queries */
@media screen and (max-width: 768px) {
	.main {
		padding-top: 0;
	}
	.image {
		display: none;
	}
	.buttons {
		flex-direction: column;
	}
	.options {
		width: 95%;
		margin: 5px 0;
	}
	.introQuest {
		padding: 0;
	}
	.introPregunta {
		padding-left: 0;
		text-align: center;
	}
	.introQuest {
		align-items: center;
	}
	.introTexto,
	.logo {
		padding-left: 0;
	}
	.introTexto {
		text-align: center;
	}
	.btnIntro {
		margin-left: 0;
	}
	.quest {
		width: 100%;
		padding: 20px;
	}
	.resultado {
		padding: 10px;
	}
	.bg {
		padding: 20px 10px;
	}
	.logo {
		margin-bottom: 0;
	}
	.despedida {
		font-size: 38px;
		text-align: center;
	}
	.btnResultado {
		flex-direction: column;
	}
	.link1,
	.link2 {
		width: 100%;
		text-align: center;
		font-size: 14px;
	}
	.numero {
		margin-left: 0;
		width: 50px;
		height: 50px;
		position: relative;
		display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}
	.progress {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90%;
	}
	.textProgress {
		font-size: 20px;
		margin-bottom: 20px;
		color: var(--main-color);
	}
	.barraResultado {
		width: 100%;
	}
	.numberCel {
		display: block;
		bottom: 15px;
	}
}
